*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore bundler config
/.bundle
/vendor/bundle

# Ignore all logfiles and tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore master key for decrypting credentials
/config/master.key

# Environment variables
.env
.env.local

# Node modules
node_modules/

# Editor files
*.swp
*~
.project
.config
.idea
.DS_Store

# Rails asset cache
/public/assets
/public/packs
/public/packs-test
/yarn-error.log
yarn-debug.log*
.yarn-integrity
.storage
/config/credentials.yml.enc
/config/credentials/*.key
