version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: iris_prototype
      POSTGRES_PASSWORD: iris_prototype_password
      POSTGRES_DB: iris_prototype_development
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U iris_prototype"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -b 0.0.0.0"
    volumes:
      - .:/app
      - bundle_cache:/usr/local/bundle
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - RAILS_ENV=development
      - DATABASE_HOST=db
      - DATABASE_USERNAME=iris_prototype
      - DATABASE_PASSWORD=iris_prototype_password
      - DATABASE_NAME=iris_prototype_development
      - GMAIL_USERNAME=${GMAIL_USERNAME:-anish.kumbhar02@gmail.com}
      - GMAIL_PASSWORD=${GMAIL_PASSWORD:-opqcjobzezaevrsk}
    stdin_open: true
    tty: true

volumes:
  postgres_data:
  bundle_cache:

