version: '3.8'

services:
  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -b 0.0.0.0"
    volumes:
      - .:/app
      - bundle_cache:/usr/local/bundle
    ports:
      - "3000:3000"
    environment:
      - RAILS_ENV=development
      - GMAIL_USERNAME=${GMAIL_USERNAME:-anish.kumbhar02@gmail.com}
      - GMAIL_PASSWORD=${GMAIL_PASSWORD:-opqcjobzezaevrsk}
    stdin_open: true
    tty: true

volumes:
  bundle_cache:

